### Función lambda 

Es una función anónima (sin nombre) que puedes definir en una sola línea.
Se usa cuando necesitas una función pequeña y temporal.

lambda argumentos: expresión

In [1]:
# Creación de una funcion normal 
def cuadrado(x):
    return x**2

# Con lambda
cuadrado_lambda = lambda x: x**2

cuadrado(6), cuadrado_lambda(6)

(36, 36)

In [2]:
# Con varios parametros 
suma = lambda a,b: a + b
suma(3,5)

8

In [4]:
def aplicar(func, valor):
    return func(valor)

print(aplicar(lambda x: x ** 3, 2))  # → 8

8

In [5]:
# Ejercicos elevar un numero al cuadrado 

cuadrado = lambda x: x ** 2
print(cuadrado(8))

64

In [8]:
# Obtener el ultimo caracter de una palabra 

ultimo_caracter = lambda s: s[-1]

ultima_letra = ultimo_caracter("python")
ultima_letra

'n'

In [9]:
# Numero mayor entre dos numeros 

max = lambda a,b: a if a>b else b
print(max(10,20))

20

In [ ]:
# Comprobar si un numero es par o impar
par = lambda x: True if x % 2 == 0 else False 
print(par(3))

False

In [ ]:
# Longitud de una cadena 
lon = lambda s: len(s)

print(lon("Juan Gabriel Carvajal Negrete"))

29

In [ ]:
# Primer cacter de una cadena
pri = lambda s: s[0]

print(pri("Juan Gabriel Carvajal Negrete"))

J

In [ ]:
# Sumar tres numeros
sum = lambda a,b,c: a + b + c

print(sum(2,3,4))

9

In [16]:
# Ordenar una lista por el ultimmo carcater 

order = lambda lista: sorted(lista,key=lambda x: x[-1]) 

print(order(['juan','pedro','ana','carlos']))

['ana', 'juan', 'pedro', 'carlos']

In [19]:
# Ordenar una lista de tuplas por el segundo elemento
lista_tuplas = [(1, 3), (2, 1), (4, 2)]
ordenada = lambda lista: sorted(lista_tuplas, key=lambda x: x[1])
print(ordenada(lista_tuplas))

[(2, 1), (4, 2), (1, 3)]

In [21]:
# convertir grados celsius a fahrenheit
conver = lambda c: c*1.8 + 32
print(conver(30))

86.0

In [23]:
# Precio mas iva 
iva = lambda precio: precio*1.19
print(iva(10000))

11900.0

In [27]:
# identifica di una palabra termina en vocal
voc = lambda s: True if s[-1] in 'aeiou' else False
print(voc("tarde"))

True

### Uso de la funcion map

In [1]:
# Aplica una función a cada elemento de un iterable 

numeros = [1, 2, 3, 4, 5]
dobles = map(lambda x: x * 2, numeros)
print(list(dobles))

[2, 4, 6, 8, 10]

In [ ]:
# Ejemplo con varias listas 
a = [1, 2, 3]
b = [4, 5, 6]
suma = map(lambda x, y: x + y, a, b)
print(list(suma))

[5, 7, 9]

In [3]:
# Ejemplos con string 
nombres = ["juan", "maria", "pedro"]
mayus = map(str.capitalize, nombres)
print(list(mayus))

['Juan', 'Maria', 'Pedro']

In [ ]:
# Ejercicios practicos 

# 1 Multiplicar cada numero por dos 

l1 = [2,6,8,4,5]

l2 = map(lambda x: x*2,l1)
list(l2)

[4, 12, 16, 8, 10]

In [ ]:
# 2 Convertir cada palabra a lista 
l1 = ["juan", "carvajal", "python"]
l2 =  map(str.capitalize,l1)
list(l2)

['Juan', 'Carvajal', 'Python']

In [ ]:
# 3 Convertir cada numero a string 
l1 = [1,3,6,3]
l2 = map(str,l1)
list(l2)

['1', '3', '6', '3']

In [9]:
# 4 Elevar cada numero al cuadrado 
l1 = [2,6,8,4,5]
l2 = map(lambda x: x**2,l1)
list(l2)

[4, 36, 64, 16, 25]

In [10]:
# 5 obtener la longitud de cada palabra 
l1 = ["hola", "python", "map"]
l2 = map(len,l1)
list(l2)

[4, 6, 3]

In [11]:
# 6 obener la primera letra de cada strng
l1 = ["Sol", "Luna", "Estrella"]
l2 = map(lambda s: s[0],l1)
list(l2)

['S', 'L', 'E']

In [12]:
# Convertir a temperatura 
l1 = [0, 20, 30]
l2 = map(lambda x: x*1.8+32,l1)
list(l2)

[32.0, 68.0, 86.0]

In [13]:
# Sumar dos lista elemento a elemento
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l3 = list(map(lambda x,y: x+y,l1,l2))
l3

[5, 7, 9]

In [14]:
# Multiplicar dos listas elemento a elemento 
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l3 = list(map(lambda x,y: x*y,l1,l2))
l3

[4, 10, 18]

In [17]:
# Extarer solo el domino de un correo
l1 = ["juan@gmail.com", "maria@hotmail.com", "pedro@outlook.com"]
l2 = map(lambda s: s.split('@')[1],l1)
list(l2)

['gmail.com', 'hotmail.com', 'outlook.com']

In [20]:
# Limpiar espacios en una lista de string
l1 = ["  hola ", " python  ", "  mundo"]
l2 = map(lambda s: s.replace(" ",""),l1)
list(l2)

['hola', 'python', 'mundo']