### Funci√≥n lambda 

Es una funci√≥n an√≥nima (sin nombre) que puedes definir en una sola l√≠nea.
Se usa cuando necesitas una funci√≥n peque√±a y temporal.

lambda argumentos: expresi√≥n

In [1]:
# Creaci√≥n de una funcion normal 
def cuadrado(x):
    return x**2

# Con lambda
cuadrado_lambda = lambda x: x**2

cuadrado(6), cuadrado_lambda(6)

(36, 36)

In [2]:
# Con varios parametros 
suma = lambda a,b: a + b
suma(3,5)

8

In [3]:
def aplicar(func, valor):
    return func(valor)

print(aplicar(lambda x: x ** 3, 2))  # ‚Üí 8

8

In [4]:
# Ejercicos elevar un numero al cuadrado 

cuadrado = lambda x: x ** 2
print(cuadrado(8))

64

In [5]:
# Obtener el ultimo caracter de una palabra 

ultimo_caracter = lambda s: s[-1]

ultima_letra = ultimo_caracter("python")
ultima_letra

'n'

In [6]:
# Numero mayor entre dos numeros 

max = lambda a,b: a if a>b else b
print(max(10,20))

20

In [7]:
# Comprobar si un numero es par o impar
par = lambda x: True if x % 2 == 0 else False 
print(par(3))

False

In [8]:
# Longitud de una cadena 
lon = lambda s: len(s)

print(lon("Juan Gabriel Carvajal Negrete"))

29

In [9]:
# Primer cacter de una cadena
pri = lambda s: s[0]

print(pri("Juan Gabriel Carvajal Negrete"))

J

In [10]:
# Sumar tres numeros
sum = lambda a,b,c: a + b + c

print(sum(2,3,4))

9

In [11]:
# Ordenar una lista por el ultimmo carcater 

order = lambda lista: sorted(lista,key=lambda x: x[-1]) 

print(order(['juan','pedro','ana','carlos']))

['ana', 'juan', 'pedro', 'carlos']

In [12]:
# Ordenar una lista de tuplas por el segundo elemento
lista_tuplas = [(1, 3), (2, 1), (4, 2)]
ordenada = lambda lista: sorted(lista_tuplas, key=lambda x: x[1])
print(ordenada(lista_tuplas))

[(2, 1), (4, 2), (1, 3)]

In [13]:
# convertir grados celsius a fahrenheit
conver = lambda c: c*1.8 + 32
print(conver(30))

86.0

In [14]:
# Precio mas iva 
iva = lambda precio: precio*1.19
print(iva(10000))

11900.0

In [15]:
# identifica di una palabra termina en vocal
voc = lambda s: True if s[-1] in 'aeiou' else False
print(voc("tarde"))

True

### Uso de la funcion map

In [16]:
# Aplica una funci√≥n a cada elemento de un iterable 

numeros = [1, 2, 3, 4, 5]
dobles = map(lambda x: x * 2, numeros)
print(list(dobles))

[2, 4, 6, 8, 10]

In [17]:
# Ejemplo con varias listas 
a = [1, 2, 3]
b = [4, 5, 6]
suma = map(lambda x, y: x + y, a, b)
print(list(suma))

[5, 7, 9]

In [18]:
# Ejemplos con string 
nombres = ["juan", "maria", "pedro"]
mayus = map(str.capitalize, nombres)
print(list(mayus))

['Juan', 'Maria', 'Pedro']

In [19]:
# Ejercicios practicos 

# 1 Multiplicar cada numero por dos 

l1 = [2,6,8,4,5]

l2 = map(lambda x: x*2,l1)
list(l2)

[4, 12, 16, 8, 10]

In [20]:
# 2 Convertir cada palabra a lista 
l1 = ["juan", "carvajal", "python"]
l2 =  map(str.capitalize,l1)
list(l2)

['Juan', 'Carvajal', 'Python']

In [21]:
# 3 Convertir cada numero a string 
l1 = [1,3,6,3]
l2 = map(str,l1)
list(l2)

['1', '3', '6', '3']

In [22]:
# 4 Elevar cada numero al cuadrado 
l1 = [2,6,8,4,5]
l2 = map(lambda x: x**2,l1)
list(l2)

[4, 36, 64, 16, 25]

In [23]:
# 5 obtener la longitud de cada palabra 
l1 = ["hola", "python", "map"]
l2 = map(len,l1)
list(l2)

[4, 6, 3]

In [24]:
# 6 obener la primera letra de cada strng
l1 = ["Sol", "Luna", "Estrella"]
l2 = map(lambda s: s[0],l1)
list(l2)

['S', 'L', 'E']

In [25]:
# Convertir a temperatura 
l1 = [0, 20, 30]
l2 = map(lambda x: x*1.8+32,l1)
list(l2)

[32.0, 68.0, 86.0]

In [26]:
# Sumar dos lista elemento a elemento
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l3 = list(map(lambda x,y: x+y,l1,l2))
l3

[5, 7, 9]

In [27]:
# Multiplicar dos listas elemento a elemento 
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l3 = list(map(lambda x,y: x*y,l1,l2))
l3

[4, 10, 18]

In [28]:
# Extarer solo el domino de un correo
l1 = ["juan@gmail.com", "maria@hotmail.com", "pedro@outlook.com"]
l2 = map(lambda s: s.split('@')[1],l1)
list(l2)

['gmail.com', 'hotmail.com', 'outlook.com']

In [29]:
# Limpiar espacios en una lista de string
l1 = ["  hola ", " python  ", "  mundo"]
l2 = map(lambda s: s.replace(" ",""),l1)
list(l2)

['hola', 'python', 'mundo']

In [30]:
# calcular el precio final de cada producto

l1 = [10000, 20000, 35000]
l2 = map(lambda x: int(x+x*0.19), l1)
list(l2)

[11900, 23800, 41650]

In [31]:
# Convertir fecha de string a formato datetime 
from datetime import datetime
l1 =["2024-01-01", "2024-02-15"]
l2 = map(lambda x:datetime.strptime(x,"%Y-%m-%d"),l1)
list(l2)

[datetime.datetime(2024, 1, 1, 0, 0), datetime.datetime(2024, 2, 15, 0, 0)]

In [32]:
# transformar una lista de nombres auxiliares 
l1 = ["Juan Carvajal", "Ana Torres", "Pedro G√≥mez"]
# l2 = map(lambda n: f"{n.split()[0][0]}.{n.split()[1][0]}.",l1)
l2 = map(lambda n: '.'.join(p[0] for p in n.split()) + '.', l1)
list(l2)

['J.C.', 'A.T.', 'P.G.']

### Funci√≥n filter

filter() filtra los elementos de un iterable que cumplan una condici√≥n (la funci√≥n debe devolver True o False).

In [33]:
# Ejemlo basico
numeros = [1, 2, 3, 4, 5, 6]
pares = filter(lambda x: x % 2 == 0, numeros)
print(list(pares))  # ‚Üí [2, 4, 6]

[2, 4, 6]

In [34]:
palabras = ["sol", "luna", "estrella", "cielo"]
largas = filter(lambda palabra: len(palabra) > 4, palabras)
print(list(largas))

['estrella', 'cielo']

In [35]:
# Ejemplos 
# Filtrar numeros mayores a 10 
l1 = [5, 11, 20, 3, 15]
l2 = filter(lambda x: x > 10,l1)
list(l2)

[11, 20, 15]

In [36]:
# Palabras con mas de cuatro letras
l1 = ["sol", "luna", "estrella", "mar"]
l2 = filter(lambda x: len(x)>=4,l1)
list(l2)

['luna', 'estrella']

In [37]:
# Filtrar palabras que empiecen con vocal

l1 = ["hola", "agua", "oso", "python", "uva"]
l2 = filter(lambda p: p[0] in "aeiou",l1)
list(l2)

['agua', 'oso', 'uva']

In [38]:
# Filtrar numeros negrativos
l1 = [3, -1, 5, -6, 0, -2]
l2 = filter(lambda x: x<0,l1)
list(l2)

[-1, -6, -2]

In [39]:
#  Filtrar string que contengan la letra a
l1 = ["python", "java", "javascript", "c++"]
l2 = filter(lambda x: "a" in x,l1)
list(l2)

['java', 'javascript']

In [40]:
# Filtrar solo valores Booleanos True
l1 = [True, False, True, False, True]
l2 = filter(lambda b: b == True,l1)
list(l2)

[True, True, True]

In [41]:
# filtrar numeros cuyos cuadrados sean mayor de 50
l1 = [5, 6, 7, 8, 3]
l2 = filter(lambda x: x**2 > 50,l1)
list(l2)

[8]

In [42]:
# Filtrar correos que sean gmail
L1 = ["juan@gmail.com", "ana@hotmail.com", "luis@gmail.com"]
l2 = filter(lambda s: "gmail" in s,L1)
list(l2)

['juan@gmail.com', 'luis@gmail.com']

In [43]:
# Filtrar tuplas donde el segundo valor sea mayor que 10
l1 = [(1, 5), (2, 20), (3, 15), (4, 7)]
l2 = filter(lambda t: t[1]>10,l1)
list(l2)

[(2, 20), (3, 15)]

In [44]:
# Filtrar palabras que terminen en vocal 
l1 = ["perro", "sol", "casa", "flor", "uva"]
l2 = filter(lambda s: s[-1] in "aeiou",l1)
list(l2)

['perro', 'casa', 'uva']

In [45]:
# Filtrar fechas que sean del a√±o 2024
l1 = ["2023-12-01", "2024-01-05", "2024-09-30", "2022-03-10"]
l2 = filter(lambda f: "2024" in f,l1)
list(l2)

['2024-01-05', '2024-09-30']

### Funci√≥n reduce
reduce() reduce un iterable a un solo valor, aplicando una funci√≥n acumuladora.
üëâ A diferencia de map() y filter(), no es una funci√≥n incorporada, sino que est√° en el m√≥dulo functools.

In [46]:
from functools import reduce
numeros = [1, 2, 3, 4, 5]
producto = reduce(lambda x, y: x * y, numeros)
print(producto)  # ‚Üí 120

120

In [47]:
palabras = ["Hola", "mundo", "Python"]
frase = reduce(lambda x, y: x + " " + y, palabras)
print(frase)  # ‚Üí "Hola mundo Python"

Hola mundo Python

In [ ]:
# La funcion reduce sirve para combinar todos los elementos en uno solo.